<div class="page-header" id="ranking-title">
  <h1>Klassement</h1>
</div>

<div class="row">
  <div id="ranking-teams" class="span8">
    <ul id="social_filters">
      <li>
        <% all_active = params[:action] == 'index' ? " success" : "" %>
        <%= link_to "Algemeen", teams_path, :class => "btn small#{all_active}" %>
      </li>
      <li>
        <% period1_active = (params[:action] == 'filter_period' and params[:period_id] == '1') ? " success" : "" %>
        <%= link_to "Voorjaar", "/teams/filter_period/1", :class => "btn small#{period1_active}" %>
      </li>
      <li>
        <% period2_active = (params[:action] == 'filter_period' and params[:period_id] == '2') ? " success" : "" %>
        <%= link_to "Tour", "/teams/filter_period/2", :class => "btn small#{period2_active}" %>
      </li>
      <li>
        <% period3_active = (params[:action] == 'filter_period' and params[:period_id] == '3') ? " success" : "" %>
        <%= link_to "Najaar", "/teams/filter_period/3", :class => "btn small#{period3_active}" %>
      </li>
    </ul>
    <table class="bordered-table zebra-striped">
      <thead>
        <th>#</th>
        <th>Ploeg</th>
        <th>Ploegleider</th>
        <th>Punten</th>
      </thead>
      <tbody>
        <% @teams.each_with_index do |team,key| %>
          <tr<%= " class='my_team'" if @my_teams.include?(team) %>>
            <td><%= key + 1 %></td>
            <td><%= link_to team.name, team, :remote => true, :class => "ranking-detail-team" %></span></td>
            <td><%= link_to team.user.username, team, :remote => true, :class => "ranking-detail-team" %></td>
            <td>
              <% if @period %>
                <%= link_to team.points_for_period(@period), team, :remote => true, :class => "ranking-detail-team" %>
              <% else %>
                <%= link_to team.points, team, :remote => true, :class => "ranking-detail-team" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="team-info" class="span8">
    <%= render :partial => "teams/show_team" %>
  </div>
</div>
