<div class="page-header">
  <h1>Maak een ploeg aan <small>Selecteer 20 renners</h1>
</div>

<div class="alert-message warning">
  <a class="close" href="#">×</a>
  <p>
    <strong>Opgelet:</strong> Als u onderaan op verder klikt en al uw gegevens zijn correct ingevuld dan wordt uw ploeg opgeslagen. Deze is dan niet meer aanpasbaar.
  </p>
</div>

<%= form_for(@team) do |f| %>
  <%= render :partial => "shared/validation_errors", :locals => {:model => @team} %>  

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :budget %>
    <div class="input">
      <div class="input-prepend">
        <span class="add-on">&euro;</span>
        <%= f.text_field :budget, :disabled => true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      <div id="selected_riders">
        <%= render :partial => "riders/selected", :locals => {:team => 'team', :riders_length => Team::MAXIMUM_SIZE} %>
     </div>
    </div>
    <div class="span7">
        <div class="clearfix">
          <div class="input no-margin-input">
            <%= search_field_tag "name", nil, {:id => "search_name", :class => 'leftfloater' ,:placeholder => "Naam ...", :autocomplete => 'off'} %>
            <%= label_tag "search_min", "Min:", :id => "search_min_label" %>
            <%= search_field_tag "min", nil, {:id => "search_min", :placeholder => "Minimale prijs ...", :autocomplete => 'off'} %>
            <%= select_tag "cycling_team", options_from_collection_for_select(@cycling_teams, :id,:name)%>
            <%= label_tag "search_max", "Max:", :id => "search_max_label" %>
            <%= search_field_tag "max", nil, {:id => "search_max", :placeholder => "Maximale prijs ...", :autocomplete => 'off'} %>
          <span class="help-block" id="search_message">Zoek een renner...</span>
          </div>
        </div>
      <div id="all_riders">
      </div>
   </div>
  </div>
  <div class="actions">
    <%= f.submit "Verder", :class => 'btn primary' %>
    <%= f.submit "Maak leeg", :type => :reset, :class => 'btn' %>
  </div>
<% end %>
