<h6 class="left_floater"><%= @race.name %></h6>
<% if (!@race_teams.empty? or race == @first_possible_race) %>
  <% if @editable_races.include?(@race) %>
    <% unless @race_teams.select{ |rt| rt.race_id == @race.id }.first.nil? %>
      <%= link_to "Wijzig deze wedstrijdploeg", edit_race_team_path(@race_team), :class => 'btn info small thin right_floater align_with_header', 
          :rel => 'popover', 'data-content' => "Hiermee wijzig je de reeds aangemaakte wedstrijdploeg voor #{@race.name}. Hou er rekening mee dat je ploeg voor andere wedstrijden hierdoor ook kan veranderen. Meer info vind je in het reglement.", 'data-original-title' => 'Wijzig wedstrijdploeg'%>
    <% else %>
      <%= link_to "Creëer een wedstrijdploeg", "/race_teams/new/#{@team.id}/race/#{@race.id}/rdtmt", :class => 'btn success small thin right_floater align_with_header',
          :rel => 'popover', 'data-content' => "Hiermee maak je een nieuwe wedstrijdploeg aan voor #{@race.name}. Hou er rekening mee dat je ploeg voor andere wedstrijden hierdoor ook kan veranderen. Meer info vind je in het reglement.", 'data-original-title' => 'Creëer wedstrijdploeg'%>
    <% end %>
  <% elsif @race.can_make_race_team? %>
    <span class="popover-label label important right_floater align_with_header"rel="popover" data-original-title="Niet aanpasbaar" data-content="Deze wedstrijd valt samen met een andere wedstrijd. Deze ploeg zal de overige 10 renners bevatten. Meer info vind je in het reglement">let op</span>
  <% end %>
<% end %>
<table class="condensed-table">
  <thead>
    <th>Renner</th>
    <th>Ploeg</th>
    <th></th>
  </thead>
  <tbody>
    <% @team.riders.each do |rider| %>
      <tr>
        <td class="rider_name"><span><%= rider.name %></span></td>
        <td><span><%= rider.cycling_team.short_name %></span></td>
        <td>
          <% if @race_team.riders.include?(rider) %>
            <span class="label success">in selectie</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 
