<div class="page-header">
  <h1>Mijn ploegen <small>Creëer nieuwe wedstrijdploegen of wijzig ze</small></h1>
</div>
<ul class="tabs">
  <% @teams.each do |team| %>
    <li<%= " class='active'" if team.id == @team.id %>><%= link_to team.name, "/my_teams/#{team.id}" %></li>
  <% end %>
  <% if @can_subscribe %>
    <li><%= link_to "+ Maak een nieuwe ploeg", new_team_path %></li>
  <% end %>
</ul>
<div class="row">
  <div id="my_team_races" class="span8">
    <table class="bordered-table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Datum</th>
          <% unless @race_teams.empty? %>
            <th></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% race_classes = ["even","odd"] %>
      <% @races.each do |race| %>
        <% race_classes.reverse! unless @race_teams.select{ |rt| rt.race_id == race.id }.first.nil? %>
        <% selected = "" %>
        <% selected = " selected"if (@race and @race == race) %>
        <tr class="<%= race_classes.first %><%= selected %>">
          <td><%= race.name %></td>
          <td><%= l race.date.to_date, :format => :short %><%= " - #{l(race.end_date.to_date, :format => :short)}" if race.is_tour %></td>
          <% unless @race_teams.empty? %>
            <td>
              <% if RaceTeam.exists_for_race(@race_teams, race) %>
                <%= link_to "Bekijk", "/my_teams/#{@team.id}/race/#{race.id}", :class => 'btn small'%>
              <% end %>
            </td>
          <% end %>
          <td>
            <% if (!@race_teams.empty? or (race == @first_possible_race and @can_subscribe)) %>
              <% if @editable_races.include?(race) %>
                <% unless @race_teams.select{ |rt| rt.race_id == race.id }.first.nil? %>
                  <%= link_to "Wijzig", edit_race_team_path(@race_teams.select { |rt| rt.race_id == race.id }.first), :class => 'btn info small', 
                      :rel => 'popover', 'data-content' => "Hiermee wijzig je de reeds aangemaakte wedstrijdploeg voor #{race.name}. Hou er rekening mee dat je ploeg voor andere wedstrijden hierdoor ook kan veranderen. Meer info vind je in het reglement.", 'data-original-title' => 'Wijzig wedstrijdploeg' %>
                <% else %>
                  <%= link_to "Creëer", "/race_teams/new/#{@team.id}/race/#{race.id}/rdtmt", :class => 'btn success small',
                      :rel => 'popover', 'data-content' => "Hiermee maak je een nieuwe wedstrijdploeg aan voor #{race.name}. Hou er rekening mee dat je ploeg voor andere wedstrijden hierdoor ook kan veranderen. Meer info vind je in het reglement.", 'data-original-title' => 'Creëer wedstrijdploeg' %>
                <% end %>
              <% elsif race.can_make_race_team? %>
                <span class="popover-label label important" rel="popover" data-original-title="Niet aanpasbaar" data-content="Deze wedstrijd valt samen met een andere wedstrijd. Deze ploeg zal de overige 10 renners bevatten. Meer info vind je in het reglement">let op</span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="my_team_riders" class="span8">
    <%= render :partial => "my_teams/show_race_team" if @race_team %> 
  </div>
</div>
