<div class="page-header">
  <h1>Mijn ploegen <small>Creëer nieuwe wedstrijdploegen of wijzig ze</small></h1>
</div>
<ul class="tabs">
  <% @teams.each do |team| %>
    <li<%= " class='active'" if team.id == @team.id %>><%= link_to team.name, "/my_teams/#{team.id}" %></li>
  <% end %>
  <li><%= link_to "+ Maak een nieuwe ploeg", new_team_path %></li>
</ul>
<div class="row">
  <div id="my_team_races" class="span8">
    <table class="bordered-table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Datum</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% race_classes = ["even","odd"] %>
      <% @races.each do |race| %>
        <% race_classes.reverse! if @team.has_race_team_for(race)%>
        <% selected = "" %>
        <% selected = " selected"if (@race and @race == race) %>
        <tr class="<%= race_classes.first %><%= selected %>">
          <td><%= race.name %></td>
          <td><%= l race.date.to_date, :format => :short %><%= " - #{l(race.end_date.to_date, :format => :short)}" if race.is_tour %></td>
          <td>
            <%= link_to "Bekijk", "/my_teams/#{@team.id}/race/#{race.id}", :class => 'btn small'%>
          </td>
          <td>
            <% if @editable_races.include?(race) %>
              <% if @team.has_race_team_for(race) %>
                <%= link_to "Wijzig", edit_race_team_path(@team.get_race_team_for(race)), :class => 'btn info small' %>
              <% else %>
                <%= link_to "Creëer", "/race_teams/new/#{@team.id}/race/#{race.id}/rdtmt", :class => 'btn success small' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="my_team_riders" class="span8">
    <%= render :partial => "my_teams/show_race_team" if @race_team %> 
  </div>
</div>
