<% if (current_user and current_user.admin?) %>
  <div id="new_result">
    <%= form_tag "/results/new", :method => :get do %>
      <div class="clearfix">
        <%= label_tag "race_id", "Nieuwe uitslag voor:" %>
        <div class="inline-inputs">
          <%= select_tag "race_id", options_from_collection_for_select(@new_result_races, :id, :display_name) %> 
          <%= submit_tag "Go!", :class => "btn primary" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% if @race %>
<div class="row">
  <div class="span-one-third next_previous">
    <% if @previous_race %><%= link_to "<< #{@previous_race.name}", "/results/#{@previous_race.id}", :class => "pull-left" %><% else %>&nbsp;<% end %>
  </div>
  <div class="span-one-third aligned-center">
    <h3 id="race-title" class="well"><% if @race %><%= @race.name %><% end %></h3>
  </div>
  <div class="span-one-third next_previous">
  <% if @next_race %><%= link_to "#{@next_race.name} >>", "/results/#{@next_race.id}", :class => "pull-right" %><% else %>&nbsp;<% end %>
  </div>
</div>
<% end %>
<% if (@race.is_tour and @race.results_ready) %>
  <%= link_to "Klassement", "/results/#{@race.id}", :class => "results_classification#{' active' if @stage.nil?}" %>
<% end %>
<% if (@stages) %>
    <div id="stages-pagination" class="pagination">
      <ul>
        <li class="prev<%= ' disabled' if (@stages.index(@stage) == 0 or @stage.nil?) %>">
          <% link = "#" %>
          <% if (@stage and @stages.include?(@stage) and @stages.index(@stage) != 0) %>
            <% link_id = @stages[@stages.index(@stage)-1].id %>
            <% link = "/results/#{link_id}" %>
          <% end %>
          <a href="<%= link %>">&larr; Vorige</a>
        </li>
        <% passed_stages = [] %>
        <% @stages.each do |stage| %>
          <% passed_stages << stage if stage.results_ready %>
        <% end %>
        <% if @stages.length <= 9 %>
          <% @stages.each_with_index do |stage,i| %>
            <li class="<%= 'active' if stage == @stage %><%= ' disabled' unless stage.results_ready %>">
              <% if stage.results_ready %>
                <%= link_to "Rit #{i+1}", "/results/#{stage.id}" %>
              <% else %>
                <%= link_to "Rit #{i+1}", "#" %>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <% count = @stages.length %>
          <% last_index = count - 1 %>
          <% first_stage = @stages.first %>
          <% last_stage = @stages.last %>
          <% if @stages.include?(@stage) %>
            <% current_index = @stages.index(@stage) %>
          <% else %>
            <% current_index = 0 %>
          <% end %>
          <% if (current_index >= 0 && current_index <= 4) %>
            <% @stages.each_with_index do |stage,i| %>
              <% if i <= 6 %>
                <li class="<%= 'active' if stage == @stage %><%= ' disabled' unless stage.results_ready %>">
                  <% if stage.results_ready %>
                    <%= link_to "Rit #{i+1}", "/results/#{stage.id}" %>
                  <% else %>
                    <%= link_to "Rit #{i+1}", "#" %>
                  <% end %>
                </li>
              <% end %>
            <% end %> 
            <li class="disabled"><%= link_to "...", "#" %></li> 
            <li class="<%= 'active' if last_stage == @stage %><%= ' disabled' unless last_stage.results_ready %>">
              <% if last_stage.results_ready %>
                <%= link_to "Rit #{last_index+1}", "/results/#{last_stage.id}" %>
              <% else %>
                <%= link_to "Rit #{last_index+1}", "#" %>
              <% end %>
            </li>
          <% elsif (current_index >= (last_index - 4) && current_index <= last_index) %>
            <li class="<%= 'active' if first_stage == @stage %><%= ' disabled' unless first_stage.results_ready %>">
              <% if first_stage.results_ready %>
                <%= link_to "Rit 1", "/results/#{first_stage.id}" %>
              <% else %>
                <%= link_to "Rit 1", "#" %>
              <% end %>
            </li>
            <li class="disabled"><%= link_to "...", "#" %></li>
            <% @stages.each_with_index do |stage,i| %>
              <% if i >= (last_index-6) %>
                <li class="<%= 'active' if stage == @stage %><%= ' disabled' unless stage.results_ready %>">
                  <% if stage.results_ready %>
                    <%= link_to "Rit #{i+1}", "/results/#{stage.id}" %>
                  <% else %>
                    <%= link_to "Rit #{i+1}", "#" %>
                  <% end %>
                </li>
              <% end %>
            <% end %> 
          <% else %>
            <li class="<%= 'active' if first_stage == @stage %><%= ' disabled' unless first_stage.results_ready %>">
              <% if first_stage.results_ready %>
                <%= link_to "Rit 1", "/results/#{first_stage.id}" %>
              <% else %>
                <%= link_to "Rit 1", "#" %>
              <% end %>
            </li>
            <li class="disabled"><%= link_to "...", "#" %></li>
            <% @stages.each_with_index do |stage,i| %>
              <% if (((current_index-2) <= i) and (i <= (current_index+2))) %>
                <li class="<%= 'active' if stage == @stage %><%= ' disabled' unless stage.results_ready %>">
                  <% if stage.results_ready %>
                    <%= link_to "Rit #{i+1}", "/results/#{stage.id}" %>
                  <% else %>
                    <%= link_to "Rit #{i+1}", "#" %>
                  <% end %>
                </li>
              <% end %>
            <% end %> 
            <li class="disabled"><%= link_to "...", "#" %></li>
            <li class="<%= 'active' if last_stage == @stage %><%= ' disabled' unless last_stage.results_ready %>">
              <% if last_stage.results_ready %>
                <%= link_to "Rit #{last_index+1}", "/results/#{last_stage.id}" %>
              <% else %>
                <%= link_to "Rit #{last_index+1}", "#" %>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <li class="next<%= ' disabled' if (passed_stages.index(@stage) == passed_stages.length-1 or @stage.nil?) %>">
          <% link = "#" %>
          <% if passed_stages.index(@stage) != passed_stages.length-1 %>
            <% if (@stage and @stages.include?(@stage) and passed_stages.index(@stage)) %>
              <% link_id = passed_stages[passed_stages.index(@stage)+1].id %>
              <% link = "/results/#{link_id}" %>
            <% end %>
          <% end %>
          <a href="<%= link %>">Volgende &rarr;</a>
        </li>
      </ul>
    </div>
<% end %>
<% if (@race and @race_results and !@race_results.empty?) %>
  <div class="row">
    <div class="span8">
      <table class="bordered-table zebra-striped">
        <thead>
          <th>#</th>
          <th>Renner</th>
          <th>Ploeg</th>
          <th>Punten</th>
        </thead>
        <tbody>
          <% @race_results.each_with_index do |race_result,index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= race_result.rider.name %></span></td>
              <td><%= race_result.rider.cycling_team.short_name %></td>
              <td><%= race_result.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span8">
      <table class="bordered-table zebra-striped">
        <thead>
          <th>#</th>
          <th>Ploeg</th>
          <th>Ploegleider</th>
          <th>Punten</th>
        </thead>
        <tbody>
          <% @team_results.each_with_index do |team_result,index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= team_result.team.name %></span></td>
              <td><%= team_result.team.user.username %></td>
              <td><%= team_result.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% elsif @race %>
  <p>Deze wedstrijd is nog niet verreden</p>
<% else %>
  <p>Nog geen resultaten beschikbaar</p>
<% end %>
