<%= form_for @race_team, 
              :url => "/race_teams/#{@race_team.team_id}/race/#{@race_team.race_id}" do |f| %>
  <% if @race_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race_team.errors.count, "error") %> prohibited this race_team from being saved:</h2>

      <ul>
      <% @race_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :team_id %>
  <%= f.hidden_field :race_id %>

  <div class="row">
    <div class="span9">
      <div id="selected_riders">
        <%= render :partial => "riders/selected", 
              :locals => {:team => "race_team", :riders_length => RaceTeam::MAXIMUM_SIZE} %>
     </div>
    </div>
    <div class="span7">
      <div id="all_riders">
        <%= render :partial => "riders/choose", 
              :locals => {:riders => @team.riders, :team => "race_team"} %>  
      </div>
   </div>
  </div>
  <div class="actions">
    <%= f.submit "Verder", :class => 'btn primary' %>
    <%= f.submit "Maak leeg", :type => :reset, :class => 'btn' %>
  </div>
<% end %>
