<p id="notice"><%= notice %></p>

<p>
  <b>Race:</b>
  <%= @race_team.race_id %>
</p>

<p>
  <b>Team:</b>
  <%= @race_team.team_id %>
</p>


<%= link_to 'Edit', edit_race_team_path(@race_team) %> |
<%= link_to 'Back', race_teams_path %>
