<%= form_for(@rider) do |f| %>
  <%= render :partial => "shared/validation_errors", :locals => { :model => @rider} %> 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :cycling_team_id %><br />
    <%= f.collection_select(:cycling_team_id, CyclingTeam.all, :id, :name, :prompt => 'Selecteer ...') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
