<%= form_for(@category) do |f| %>
  <%= render :partial => "shared/validation_errors", :locals => {:model => @category} %> 

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nr_of_riders %><br />
    <%= f.number_field :nr_of_riders %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
