<!DOCTYPE html>
<html>
<head>
  <title>mega.tom.bike - 
    <% title =  yield(:title) %>
    <% if (title and not title.empty?)%><%= title %><% else %>onvoorstelbaar onvoorspelbaar<% end %>
  </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <%= link_to "mega.tom.bike", root_path, :class => 'brand' %> 
        <ul class="nav">
          <% unless user_signed_in? %>
            <li><%= link_to "Inschrijven", new_user_registration_path %></li>
          <% else %>
            <%= render :partial => "my_teams/menu" %> 
          <% end %>
          <li class="<%= 'active' if params[:controller] == 'subscribe' and params[:action] == 'reglement' %>">
            <%= link_to "Reglement", subscribe_reglement_path %>
          </li>
          <li class="<%= 'active' if params[:controller] ==  'races' and params[:action] == 'index' %>">
            <%= link_to "Kalender", races_path %>
          </li>
        </ul>
        <% if user_signed_in? %>
          <div class="pull-right">
            <ul>
              <li>
                <%= link_to "Mijn profiel", edit_user_registration_path %>
              </li>
              <li>
                <%= link_to "", destroy_user_session_path, :method => :delete, :class => 'icon-off' %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="pull-right">
            <ul>
              <li>
                <%= link_to "Inloggen", new_user_session_path %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="content">
    <% unless (controller_name == "subscribe" and action_name == "index") %>
      <div class="container top_margin">
      <%= render :partial => "shared/flash_messages" %>
    <% end %>
    <%= yield %>
    <% unless (controller_name == "subscribe" and action_name == "index") %> 
      </div>
    <% end %>
  </div>
</body>
</html>
