<!DOCTYPE html>
<html>
<head>
  <title>mega.tom.bike - 
    <% title =  yield(:title) %>
    <% if (title and not title.empty?)%><%= title %><% else %>onvoorstelbaar onvoorspelbaar<% end %>
  </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% show_top_margin = true %>
  <% show_top_margin = false if (params[:controller] == 'teams' and (params[:action] == 'index' or params[:action] == 'show')) %>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <%= link_to "mega.tom.bike", root_path, :class => 'brand' %> 
        <ul class="nav">
          <% if (!user_signed_in? and @can_subscribe) %>
            <li><%= link_to "Inschrijven", new_user_registration_path %></li>
          <% end %>
          <%= render :partial => "my_teams/menu" if user_signed_in? %> 
          <li class="<%= 'active' if params[:controller] == 'subscribe' and params[:action] == 'reglement' %>">
            <%= link_to "Reglement", subscribe_reglement_path %>
          </li>
          <% if user_signed_in? %>
            <li class="<%= 'active' if params[:controller] == 'results' %>">
              <%= link_to "Uitslagen", results_path %>
            </li>
            <li class="<%= 'active' if params[:controller] ==  'teams' and (params[:action] == 'index' or params[:action] =='show')  %>">
              <%= link_to "Klassement", teams_path %>
            </li>
            <li class="<%= 'active' if params[:controller] ==  'races' and params[:action] == 'index' %>">
              <%= link_to "Kalender", races_path %>
            </li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <div class="pull-right">
            <ul>
              <li>
                <%= link_to "Mijn profiel", edit_user_registration_path %>
              </li>
              <li>
                <%= link_to "", destroy_user_session_path, :method => :delete, :class => 'icon-off' %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="pull-right">
            <ul>
              <li>
                <%= link_to "Inloggen", new_user_session_path %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="content">
   <% unless (controller_name == "subscribe" and action_name == "index") %>
      <div class="container<%= ' top_margin' if show_top_margin %>">
      <%= render :partial => "shared/flash_messages" %>
    <% end %>
    <%= yield %>
    <% unless (controller_name == "subscribe" and action_name == "index") %> 
      </div>
    <% end %>
    <% if is_mobile_request? %>
      <footer class="mobile_version">
        <%= link_to "Bekijk de mobiele versie", mobile_version_path %>
      </footer> 
    <% end %>
  </div>
</body>
</html>

